<section class="header">
    {{>header}}
</section>

<h4 class="title">Fill your details</h4>
<section>
    <form class="contact" action="content.hbs" method="POST">
        <input type="text" placeholder="First Name" id="first-name">
        <input type="text" placeholder="Last Name" id="last-name">
        <input type="text" placeholder="Interest" id="interest">
        <input type="text" placeholder="Email" id="email">
        <input type="text" placeholder="Phone Number" id="phone-number">
        <button id="submit-button">Submit</button>
    </form>
</section>