<section class="header">
    {{>header}}
</section>

<h4 class="title">Fill Your Details</h4>
<section class="contact">
<form action="content.hbs" method="POST">
    <div class="right-dir">
    <label for="first_name">
        First Name:
    </label>
    <input name="first_name"><br>
    </div>
    <div class="left-dir">
    <label for="last_name">
        Last Name:
    </label>
    <input name="last_name"><br>
    </div>
    <div class="right-dir">
    <label for="intersting">
        Intersting:
    </label>
    <input name="intersting"><br>
    </div>
    <div class="left-dir">
        <label for="email">
         Email Adress:
    </label>
    <input name="email"><br>
    </div>
    <div class="right-dir">
    <label for="phone_number">
        Phone Number:
    </label>
    <input name="phone_number"><br>
    </div>
 </form>
 </section> 